<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Random Color Generator</title>
</head>
<body th:style="'background-color: #' + ${colorName}">
    <div class="container" th:style="'background-color: #' + ${colorName}">
        <h1>Random Color Generator</h1>
        <p class="color-name" th:text="'#' + ${colorName}"></p>
        <a href="/" class="button">Generate New Color</a>
    </div>
</body>
</html>